.container {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.heading {
    font-size: larger;
    font-weight: 500;
    margin: 0 auto;
}

.userContainer {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}

.profilepic {
    width: 50%;
    height: 50%;
}

.profilepic img {
    display: block;
    width: 100%;
    height: auto;
}