.rating-container {
    padding: 2em 0;
    display: flex;
    gap: 2.5em;
}

.rating-btns-container {
    display: flex;
    flex-direction: column;
}

.rating-btn {
    margin: 5px;
    padding: 2px;
    font-size: 12px;
    background-color: rgb(233, 233, 153);
    border-color: rgb(233, 233, 153);
    border-radius: 6px;
}

.rating-btn:hover{
    background-color: rgb(200, 197, 197);
    border-color: rgb(200, 197, 197);
    color: white;
    font-size: 16px;
}

.rating-title {
    font-size: 20px;
}

.votes{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.votes p{
    font-weight: 600;
}