.imgContainer {
    overflow: hidden;
    padding: 2em;
    margin: 5em 0;
    /* background: black;
    position: relative; */
}

/* .imgContainer::after{
    display: block;
    padding-top: 56.25%;
} */

.content {
    padding-right: 10em;
    border-bottom: 1px solid black;
}

.img {
    border-radius: 5%;
    width: 20em;
    height: 20em;
    /* width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); */
}

.title {
    margin-bottom: 2em;
    font-size: 20px;
    padding-bottom: 2em;
    font-weight: 500;
    padding-left: 1em;
}

.author {
    margin: 2em 0;
    font-weight: 600;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.details-container-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-basis: 50%;
    border: 2px solid black;
}


.details-container-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-basis: 50%;
}


label {
    font-size: 16px;
    font-weight: bold;
}

.descrption {
    padding: 1.5em;
    border: 1px solid black;
}

.category {
    display: flex;
    gap: 1em;
}

.btn-container {
    margin-top: 5em;
}

.editBtn {
    background-color: rgba(240, 214, 128, 0.775);
    border: 2px solid rgba(240, 214, 128, 0.775);
    margin-right: 1em;
    padding: 0.6em;
    border-radius: 5%;
}

.deleteBtn {
    background-color: rgba(251, 3, 3, 0.655);
    border-color: red;
    color: black;
}

.deleteBtn:hover{
    list-style: none;
    text-decoration: none;
    background-color: rgb(150, 2, 2);
    border-color: rgb(150, 2, 2 );
}

.editBtn:hover {
    list-style: none;
    text-decoration: none;
    background-color: rgba(142, 118, 31, 0.775);
    border-color: rgba(142, 118, 31, 0.775);
    color: white;

}

.alert {
    background-color: rgba(237, 20, 20, 0.707);
    border-color: rgba(237, 20, 20, 0.707);
}

.alert:hover {
    background-color: black;
    border-color: black;
    color: white;
}