.title{
    margin: 0 auto;
    font-size: 2em;
    padding-top: 10em;
    padding-bottom: 2em;
    color: black;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.spinner{
    padding: 2em;
    margin-bottom: 12em;
}