.info-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 8em;
    padding-right: 5em;
    font-weight: 500;
}

.link{
    border-top: 1px solid black
}

.link:hover{
    text-decoration: none;
    color: rgb(230, 29, 170);
    font-weight: 800;
}

.wrapper{
    margin-bottom: 5em;
}

.container{
    padding-bottom: 5em;
}