.cards-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
    margin: 2em 0;
}

.section{
    max-width: 100%;
    max-height: 50%;
    margin: 3em;
}

.content-container{
    background-color: rgba(241, 194, 225, 0.5);
    padding: 5em 15em;
    border-radius: 2em;
    border-style:groove;
}

