.navbar-container {
    background-color: rgb(123, 108, 2013, 25%);
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-container .link{
    border-radius: 30%;
    padding: 0.5;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.navbar-container .main{
    margin-right: 1em;
}

.navbar-container .link:hover{
    background-color: rgba(254, 134, 212, 100%);
}

.helloMsg{
    padding-top: 12px;
}