.categories{
    display: flex;
    /* justify-content: space-around; */
    gap: 2.5em;
    padding-top: 0.5em;
}

.errMsg{
    color: Red;
    margin-bottom: 2em;
}

.login{
    padding: 0.1em 0.5em;
    background-color: bisque;
    border-radius: 10%;
    margin-left: 1em;
}

.login:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}

.loginMsg{
    margin: 2em 0.5em;
    margin-left: 60em;
}

/* .form{
    display: flex;
    flex-direction: column;
    gap: 1em;
} */